<h1>Hello there</h1>
<p>Sign in or register</p>
<br>
<%= link_to '<button>Sign up</button>'.html_safe, new_user_registration_path%>
<%= link_to '<button>Sign in</button>'.html_safe, new_user_session_path%>


